<%- include('src/templates/partials/header') %>
<body class="text-center light-blue-bg">
	<h1 style="margin-top: 300px"><i class="fa fa-code" aria-hidden="true"></i> Under Construction</h1>
</body>
</html>
<%- include('src/templates/partials/footer') %>