<%- include('src/templates/partials/header') %>
<body class="text-center construction-page">
	<h1><i class="fa fa-code" aria-hidden="true"></i> Under Construction</h1>
</body>
</html>
<%- include('src/templates/partials/footer') %>