<%- include('src/templates/partials/header') %>
<body class="light-blue-bg no-side-pad p-large">
	<!-- Navigation Bar -->
	<nav class="navbar navbar-custom" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- Menu button for small screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Navigation menu -->
			<div class="nav-links collapse navbar-collapse navbar-right" id="nav-links">
				<ul class="nav navbar-nav">
					<li><a href="./about">About</a></li>
					<li class="active-nav"><a href="https://www.justinclagg.com">Portfolio</a></li>
					<li><a href="./contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--./Navigation Bar-->
	<div class="portfolio-banner">
		<h1>Responsive Web Development</h1>
		<h3>Html5 &#8226; Sass &#8226; Javascript &#8226; React &#8226; Node</h3>
	</div>
	<section class="section white-bg">
		<img src="./img/computer.png">
		<h2>What I've been up to.</h2>
		<p>Below is some of my recent work.<br> For more you can visit
			<a class="text-link" href="https://github.com/justinclagg" target="_blank">GitHub</a> and
			<a class="text-link" href="https://codepen.io/justinclagg/" target="_blank">CodePen</a>.
	</section>
	<section class="project-section lime-green-bg">
		<div class="project">
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="http://community-twitch-development.justinclagg.com/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/community-twitch-development" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/community_dev_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Community Twitch Development</h3>
			<p class="project-description">
				A web app that helps Twitch streamers collaborate with viewers on a development project.<br/>
				Built with React, Redux, Node, MongoDB, Socket.io, and Passport.js.
			</p>
		</div>
	</section>
	<section class="project-section dark-blue-bg">
		<div class="project">
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="https://www.justinclagg.com/tic-tac-toe/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/tic-tac-toe" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/tictactoe_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Tic Tac Toe</h3>
			<p class="project-description">Tic Tac Toe with multiple difficulty levels using the minimax algorithm.<br/>
				Written in Javascript with jQuery for UI.</p>
		</div>
		<div class="project">
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="https://www.justinclagg.com/simon/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/simon" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/simon_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Simon</h3>
			<p class="project-description">The game of Simon written in pure Javascript.</p>
		</div>
	</section>
	<section class="project-section lime-green-bg">
		<div class="project">
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="https://www.justinclagg.com/wikipedia-viewer/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/wikipedia-viewer" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/wikipedia_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Wikipedia Viewer</h3>
			<p class="project-description">A jQuery application using the MediaWiki API to search Wikipedia.</p>
		</div>
		<div class="project">
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="https://www.justinclagg.com/react-markdown-previewer/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/react-markdown-previewer" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/markdown_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Markdown Previewer</h3>
			<p class="project-description">Converts Markdown to Html using React and <a href="https://github.com/chjj/marked" target="_blank" class="text-link">marked</a>.</p>
		</div>
	</section>
	<section class="project-section teal-bg">
		<div class="project">
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="https://www.justinclagg.com/tribute-page/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/tribute-page" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/tribute_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Tribute Page</h3>
			<p class="project-description">An animated webpage written from scratch with Javascript and CSS.</p>
		</div>
		<div class="project">		
			<div class="project-image">
				<div class="image-overlay">
					<div class="overlay-links">
						<a href="https://www.justinclagg.com/calculator/">
							<button>Demo</button>
						</a>
						<a href="https://github.com/justinclagg/calculator" target="_blank">
							<button>Source</button>
						</a>
					</div>
				</div>
				<img src="./img/calculator_thumbnail.png" class="img-responsive">
			</div>
			<h3 class="project-title">Calculator</h3>
			<p class="project-description">A functional calculator styled in CSS.</p>
		</div>
	</section>
<%- include('src/templates/partials/footer') %>