<%- include('partials/header') %>
<body class="teal-bg">
	<div class="wrap">
	<!-- Navigation Bar -->
	<nav class="navbar navbar-light" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- Menu button for small screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Navigation menu -->
			<div class="nav-links-light collapse navbar-collapse navbar-right" id="nav-links">
				<ul class="nav navbar-nav">
					<!-- <li class="active-nav"><a href="./about">About</a></li>
					<li><a href="https://www.justinclagg.com">Portfolio</a></li> -->
					<li class="active-nav"><a href="https://www.justinclagg.com">Portfolio</a></li>
					<li><a href="./contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--./Navigation Bar-->
	<div class="main">
	<div class="row">
		<!-- Left column -->
		<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-7 left-col">
			<h1 class="page-title">About me</h1>
			<p>I'm Justin Clagg, a developer currently working at <a class="text-link" href="https://gdit.com">GDIT</a>.</p>
			<p>I spend my time on full stack web development, test automation frameworks, continuous integration, and helping teams modernize their development practices.</p>
			<p>I love taking on complex problems, creating new things, and helping others reach their goals.</p>
		</div>
		<!-- Right column -->
		<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 right-col logo-col" id="logo-col">
			<h2>Frontend Development</h2>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#html_logo"></use>
				</svg>
				<figcaption>HTML5</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#sass_logo"></use>
				</svg>
				<figcaption>Sass</figcaption>
			</figure>
			<figure class="logo-sm">
				<svg width="45px" height="45px">
					<use xlink:href="#javascript_logo"></use>
				</svg>
				<figcaption>Javascript</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#jquery_logo"></use>
				</svg>
				<figcaption>jQuery</figcaption>
			</figure>
			<figure class="logo-sm">
				<svg width="45px" height="45px">
					<use xlink:href="#bootstrap_logo"></use>
				</svg>
				<figcaption>Bootstrap</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#react_logo"></use>
				</svg>
				<figcaption>React</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#redux_logo"></use>
				</svg>
				<figcaption>Redux</figcaption>
			</figure>
			<h2>Backend Development</h2>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#java_logo"></use>
				</svg>
				<figcaption>Java</figcaption>
			</figure>
			<figure class="logo-sm">
				<svg width="45px" height="45px">
					<use xlink:href="#node_logo"></use>
				</svg>
				<figcaption>Node</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#mongodb_logo"></use>
				</svg>
				<figcaption>MongoDB</figcaption>
			</figure>
			<figure class="logo-sm">
				<svg width="45px" height="45px">
					<use xlink:href="#socketio_logo"></use>
				</svg>
				<figcaption>Socket.io</figcaption>
			</figure>
			<h2>Tools</h2>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#git_logo"></use>
				</svg>
				<figcaption>Git</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#npm_logo"></use>
				</svg>
				<figcaption>npm</figcaption>
			</figure>
			<figure class="logo-sm">
				<svg width="45px" height="45px">
					<use xlink:href="#webpack_logo"></use>
				</svg>
				<figcaption>Webpack</figcaption>
			</figure>
			<figure class="logo">
				<svg width="50px" height="50px">
					<use xlink:href="#mocha_logo"></use>
				</svg>
				<figcaption>Mocha</figcaption>
			</figure>
			<figure class="logo">
				<svg width="45px" height="45px">
					<use xlink:href="#cucumber_logo"></use>
				</svg>
				<figcaption>Cucumber</figcaption>
			</figure>
			<div></div>
		</div>
	</div>
	</div>
	</div>
<%- include('partials/footer') %>