	<footer>
	  Copyright © 2016 Justin Clagg
	</footer>
	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<% if (js) { %><script src="<%= js %>"></script><% } %>
</body>
</html>